body {
    background-color: #8accd4;
    font-family: 'Rowdies', cursive;
    margin-right: auto !important;

}



h1 {
    text-align: center;
    color: rgb(114, 111, 111);
    text-shadow: 1px 1px grey;
    font-weight: lighter;
    margin-left: -50px;
}

#container {
    background-color: #F2BE8D;
    height: 450px;
    width: 70%;
    margin: auto;
    border-radius: 50px;
    text-align:center;
    align-items: center;
    padding: 40px; 
    box-shadow: 1px 1px rgb(59, 54, 54);

    
}

select {
    border-radius: 10px;
    height: 40px;
    width: 200px;
    font-weight: bold;
    font-size: large;
    justify-content: center;
    box-shadow: 2px 2px;
}

#pokemon-type1 {
    float:right;
    margin-left: 40px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    
    display:inline;
    
    vertical-align:top;
}

#pokemon-type2 {
    float: right;
    margin-right:  40px;
    
    text-align: center;
}

#show-button {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

button {
    border-radius: 10px;
    height: 40px;
    width: 180px;
    font-size: large;
    font-weight: bold;
    background-color: #303242;
    color: white;
}

table,td,th {
    border: 1px solid black;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    border-radius: 10px;
   
}

th {
    background-color: #394359;
    color: white;
    font-size: small;
    font-weight: lighter;
    height: 60px;
}

td {
    background-color: white;
    height: 60px;
}
